# Đây là file cấu hình chung cho toàn bộ dự án
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Cấu hình riêng cho các file code (ví dụ dùng 2 spaces)
[*.{js,ts,html,css,json}]
indent_style = space
indent_size = 2

# Cấu hình riêng cho file Python (ví dụ dùng 4 spaces)
[*.py]
indent_style = space
indent_size = 4

# Cấu hình cho Makefile (bắt buộc dùng Tab thực thụ)
[Makefile]
indent_style = tab
